<ion-accordion [value]="producto.id">
  <ion-item slot="header" color="light">
    <ion-label>{{producto.producto}}</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-badge>Producto</ion-badge>
            <h2>{{producto.producto}}</h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <ion-badge>Proveedor</ion-badge>
            <h2>{{producto.proveedor}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <!-- ================ -->
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-badge>Unidad</ion-badge>
            <h2>{{producto.unidad}}</h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <ion-badge>Presupuesto</ion-badge>
            <h2>{{producto.presupuesto | currencyPipe:'COP'}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <!-- ================ -->
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-badge>Valor Unitario</ion-badge>
            <h2>{{producto.valor_unitario | currencyPipe:'COP'}}</h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <ion-badge>Valor Cantidad</ion-badge>
            <h2>{{producto.cantidad}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <!-- ================ -->
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-badge>Valor Total</ion-badge>
            <h2>{{producto.valor_total | currencyPipe:'COP'}}</h2>
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <ion-badge>Fecha Adquisicion</ion-badge>
            <h2>{{formatDate(producto.fecha_adquisicion)}}</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button size="default" expand="block" color="warning" (click)="showUpdateProduct()">Editar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="default" expand="block" color="danger" id="delete-alert"
            [id]="'delete-alert-' + producto.id">Eliminar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-alert [trigger]="'delete-alert-' + producto.id" header="Confirmar Eliminacion"
      message="¿Estas seguro que deseas eliminar este producto?" [buttons]="alertButtons" cssClass="alert-light"></ion-alert>
  </div>
</ion-accordion>