<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-xl="5" size-lg="6" size-md="9" size-xs="12">
        <ion-card>
          <img alt="logo-application" src="../../../assets/logo-app.png" />
          <ion-item class="ion-margin-top">
            <ion-label class="header-card">Ingresa a la Aplicacion</ion-label>
          </ion-item>
          <ion-card-content>
            <form [formGroup]="formValidation" (ngSubmit)="ingresarApp()">
              <ion-input type="text" fill="outline" label="Usuario Aplicacion" labelPlacement="floating"
                formControlName="usuario"></ion-input>
              <br>
              <ion-input type="password" fill="outline" label="Clave Aplicacion" labelPlacement="floating"
                formControlName="clave"></ion-input>
              <br>
              <ion-button expand="block" type="submit">
                <ion-icon slot="start" name="enter-outline"></ion-icon>
                Ingresar
              </ion-button>
              <app-button-provider></app-button-provider>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="button-github" href="https://github.com/Dabrox02/app-gestion-productos-ionic"
      target="_blank">
      <ion-icon src="../../../assets/github.svg" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>